<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net451" />
  <package id="DevExpress.CodeParser" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Data" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.DataAccess" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Images" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Mvvm" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Office.Core" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Pdf.Core" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.PivotGrid.Core" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Printing.Core" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.RichEdit.Core" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.RichEdit.Export" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Wpf.Core" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Wpf.Grid.Core" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Wpf.Layout" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Wpf.Navigation" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Wpf.PivotGrid" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Wpf.Printing" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Wpf.Themes.Office2016White" version="18.1.7" targetFramework="net451" />
  <package id="DevExpress.Xpo" version="18.1.7" targetFramework="net451" />
  <package id="DnsClient" version="1.0.7" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.7.0" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.7.0" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.7.0" targetFramework="net451" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net451" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net451" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net451" />
</packages>